html {
    overflow-x: hidden;
    background-color: black;
    font-family: Roboto,Arial,Lucida Sans Unicode,sans-serif;
}

body {
    margin: 0px;
}

.toolbar {
    position: fixed;
    top: 0px;
    height: 100px;
    display: flex;
    width: 100%;
    flex-direction: row;
/*     justify-content: space-evenly;
 */    padding: 0px;
    transition: 0.4s;
}

/* HOVER */

.toolbar:hover {
    background-color: white;
    color: black;
}

.toolbar:hover .search {
    color: black;
    border-color: transparent transparent black;
}

.toolbar:hover h1 {
    color: black;
}

.toolbar:hover .bi-list {
    color: black;
}

.toolbar:hover .icon {
    color: black;
}

.toolbar:hover .search-input {
    color: black;
    border-color: black;
}

.toolbar:hover input::placeholder {
    color: black;
}

.toolbar:hover .zara-logo {
    filter: invert(0);
}

/* CONTAINERS */

.left-container {
    display: flex;
    height: 100px;
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    text-decoration: none;
}

.zara-logo {
    height: 47px;
    width: auto;
    padding: 0px;
    margin: 0px;
    filter: invert(1);
}

.center-container {
    display: flex;
    flex: 1 1 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.center-container input {
    color: white;
    letter-spacing: .02rem;
    font-weight: 700;
    opacity: 100%;
    width: 10rem;
    font-size: 17px;
    text-transform: uppercase;
    border: transparent;
    border-bottom: 1px solid white;
    background-color: transparent;
    user-select: none;
}

.center-container input:focus {
    outline: none;
}

.center-container input::placeholder {
    color: white;
    opacity: 100%;
}

.right-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}

.bi-list {
    text-decoration: none;
    color: white;
}

.icon {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 12px;
}

.logga-in {
    
}

/* MAIN */

main img {
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.scrollspy {
    position: fixed;
    bottom: 150px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.scrollspy a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    text-transform: uppercase;
}

.img-5 {
    position: relative;
    top: 0px;
}

.vincent-png {
    position: absolute;
    top: 10px;
    width: 50%;
}

footer {
    size: 100vh;
    background-color: white;
    text-align: center;
    padding: 100vh;
}

/* .img-1 {
    padding: none;
    margin: none;
    width: 100%;
}

.img-2 {
    padding: none;
    margin: none;
    width: 100%;
} */
